{% extends 'dashboard/base.html' %} 
{% load static %} 
{% block content %}

<section class="container text-center">
  <div align="left"><h3>For any query , Dicuss here --</h3></div>


  <div align="center">
    <h2>!! SolveitNOW !!</h2>
</div>


<div class="container">
    <style>
    input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(240, 188, 188);
    border-radius: 4px;
    box-sizing: border-box;
    }

    input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }

    input[type=submit]:hover {
    background-color: #45a049;
    }

    div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    }
    </style>

    <form id="post-form" method="POST" action="checkview">
        {% csrf_token %}
        <label>Room Name</label>
        <input type="text" name="room_name" id="room_name" width="100px" />
        <label>Username</label>
        <input type="text" name="username" id="username" width="100px" />
        <input type="submit" value="Enter Room">
    </form>
</div>







  <hr> <br>
  <div class="row">
    <div class="col-md-3">
      <a href="{% url 'notes' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/notes.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Notes
            </h5>
            Create Notes to refer them later. They are stored permanently until deleted
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="{% url 'todo' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/todo.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              To Do
            </h5>
            Add your to-do lists for your day and remove them as you finish
          </div>
        </div>
      </a>
    </div>



    <div class="col-md-3">
      <a href="{% url 'prep' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/prep.png' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Placement Preparation
            </h5>
            Last minutes revision sheet of core subjects.
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{% url 'courses' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/courses.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Courses
            </h5>
            Select courses and start learning today.
          </div>
        </div>
      </a>
    </div>
    
  </div>
  <br><br><br>
  


</section>
{% endblock content %}